.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

nav {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  background: lightgrey;
  position: fixed;
  z-index: 50;
}

main {
  padding: 50px;
}

p {
  margin: 20px;
}

